name: Tailscale Auth Runner

on:
  workflow_dispatch:

jobs:
  tailscale:
    runs-on: ubuntu-latest

    steps:
      - name: Install Tailscale
        run: |
          curl -fsSL https://tailscale.com/install.sh | sh

      - name: Connect to Tailscale using Auth Key
        run: |
          sudo tailscale up --authkey=${{ secrets.TALESCALE_AUTH_KEY }} --hostname=github-runner --accept-routes

      - name: Show Tailscale Status
        run: tailscale status

      - name: Keep Runner Alive (1 hour)
        run: sleep 3600
        
